* {
    margin: 0; padding: 0;
}
h1 {
    color: black;  
}

#icon {
    height: 200px; width: 1500px;
    background-image: url(images/logo.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: aqua;
}
main {
    background-color: bisque;
}
header {
    background-color: rgb(36, 201, 201);
}
footer {
    background-color: rgb(161, 103, 103);
}
#anime {
    line-height: 20px;
    font-size: 20px;
}